**/~*
.DS_Store
**/.DS_Store

__pycache__/

.venv/

.vscode/

data-prep/inputs/*
!data-prep/inputs/jcudlc-config-static.json
!data-prep/inputs/.gitkeep

data-prep/outputs/
!data-prep/outputs/.gitkeep

data-prep/logs/
!data-prep/logs/.gitkeep

devrig/